body{
    margin: 0;
}

#background{
    height: auto;
    width: 100.5%;
}

.navbar{
    position: fixed;
    list-style: none;
    display: flex;
    flex-direction: row;
    top: 0;
    background-color: black;
    opacity: 80%;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.elelist{
    font-family: Kode Mono;
    color: white;
    margin-right: 30px;
}

.elelist:hover{
    text-decoration: underline;
}